<div class="single-question" data-id="{{ comment.id }}" id="{{ comment.id }}" data-level="{{ i }}">
    <div class="single-question-question">
        <h4>{{ comment.content|raw }}</h4>
    </div>

    <div class="single-question-infos">
        <div class="single-question-user">
            <div class="single-question-user-picture">
                {% if comment.picture %}
                    <img src="{{ url('uploads/' ~ comment.picture) }}" alt="{{ comment.username }}">
                {% else %}
                    <img src="{{ asset('img/default.png') }}" alt="{{ comment.username }}">
                {% endif %}
            </div>

            <div class="single-question-user-infos">
                <p><a href="{{ url(comment.username) }}" title="{{ comment.username }}">{{ comment.username }}</a></p>
                <p class="date-from">{{ comment.date }}</p>
            </div>
        </div>

        <div class="single-question-actions">
            {% if i < 2 %}
                <a href="#" class="btn btn-secondary comment-comment" data-id="{{ comment.id }}"><i class="fa fa-reply" aria-hidden="true"></i></a>
            {% endif %}

            <a href="#" class="comment-upvote {{ comment.upvote == 'true' ? 'active' : '' }}" data-id="{{ comment.id }}">
                <svg class="heart"></svg>
            </a>

            <strong class="comment-score">{{ comment.score }}</strong>
        </div>
    </div>
</div>

<div class="single-question-answers" style="margin-left: 50px;">
    {% if comment.children %}
        {% for comment in comment.children %}
            {% set i = 1 %}
            {% include 'components/comment.twig' %}
        {% endfor %}
    {% endif %}
</div>
