<div class="loader loader-expanded"></div>
<div class="loader-background"></div>

<header class="header header-home">
    <div class="header-logo">
        <a href="{{ url('') }}">
            Website name
        </a>
    </div>

    <div class="header-toggle">
        <a href="#" class="header-nav-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>

    <div class="header-nav">
        <a href="#" class="header-nav-close">X</a>
        <div>
            <nav class="nav">
                <ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Item 1</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Item 2</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Item 3</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div>
            <nav class="nav">
                <ul>
                    {% if not auth %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('login') }}">Log in</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('signup') }}">Sign up</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">
                                Notifs({{notifications|length}})
                            </a>

                            <div class="dropdown-menu">
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        {% if loop.index0 < 3 %}
                                            <a class="dropdown-item" href="{{ notification.url }}">{{ notification.message }}</a>
                                        {% endif %}
                                    {% endfor %}

                                {% else %}
                                    <div class="dropdown-item">
                                        No new notifications
                                    </div>
                                {% endif %}

                                <div class="dropdown-item">
                                    <a href="#" class="toggle-notifications">Mark all as read</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle user-settings" href="#">
                                {% if picture %}
                                    <img src="{{ url('uploads/' ~ picture) }}" alt="{{ auth }}" class="header-nav-picture">
                                {% else %}
                                    <img src="{{ asset('img/default.png') }}" alt="Profile picture" class="header-nav-picture">
                                {% endif %}
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url(auth) }}">{{ auth }}</a>
                                <a class="dropdown-item" href="{{ url('settings/account') }}">Settings</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('logout') }}">Log out</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
