{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron" style="background-image: url('{{ url('uploads/' ~ last_post.url_hd) }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="container">
            <h1 class="display-3">{{ last_post.title }}</h1>
            <p>{{ last_post.description }}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="container">
        <h2>Latest pictures of the day</h2>

        <div class="row">
            {% for post in posts %}
                {% if post == posts[0] %}
                {% else %}
                    <div class="col-md-4">
                        <h3>{{ post.title }}</h3>
                        <a class="btn btn-secondary" href="{{ url('picture-of-the-day/' ~ post.id) }}" role="button">View details »</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div><!--/row-->
    </div>

{% endblock %}
