{% extends 'layouts/index.twig' %}

{% block content %}

    <div class="jumbotron" style="background-image: url('{{ url('uploads/' ~ last_post.url_hd) }}');">
        <div class="jumbotron-background">

        </div>

        <div class="jumbotron-content">
            <span class="subtitle">Astronomy picture of the day</span>
            <h1 class="title">{{ last_post.title }}</h1>
            <ul class="facts">
                <li class="fact"><span class="fact-important">{{ last_post.questions }}</span> questions</li>
                <li class="fact"><span class="fact-important">{{ last_post.answers }}</span> answers</li>
            </ul>
            <div class="jumbotron-actions">
                <ul>
                    <li>
                        <a href="{{ url('picture-of-the-day/' ~ last_post.id) }}" id="explore-btn" role="button" onclick="this.classList.add('clicked')">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <span>Explore this case</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="container">
            <div class="col-md-12">
                <p>All your questions about space, answered every day with one image and one topic.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="section-title">
                <h2><b>What people</b> are asking</h2>
            </div>

            <div class="section-grid">
                {% for question in questions %}
                <div class="section-grid-item section-grid-item-6">
                    <a href="{{ url('picture-of-the-day/' ~ question.post__id ~ '#' ~ question.id) }}">
                        <div class="card">
                            <div class="card-image" style="background-image: url('{{ url('uploads/' ~ question.url) }}');">

                            </div>

                            <div class="card-content">
                                <div class="card-title">
                                    <h3>{{ question.content }}</h3>
                                </div>

                                <div class="card-infos">
                                    <div class="card-author">
                                        {% if question.picture %}
                                            <img src="{{ url('uploads/' ~ question.picture) }}" alt="{{ question.username }}" class="card-author-picture">
                                        {% else %}
                                            <img src="{{ asset('img/default.png') }}" alt="{{ question.username }}" class="card-author-picture">
                                        {% endif %}

                                        <div class="card-author-details">
                                            <span class="card-author-name">{{ question.username }}</span>
                                            <span class="card-date date-from">{{ question.date }}</span>
                                        </div>
                                    </div>

                                    <div class="card-reactions">
                                        <div class="card-reaction">
                                            {{ question.score }} love
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="section-title">
                <h2><b>Popular</b> pictures</h2>
            </div>

            <div class="section-grid">
                {% for post in popular_posts %}
                <div class="section-grid-item section-grid-item-4">
                    <a href="{{ url('picture-of-the-day/' ~ post.id) }}">
                        <div class="card">
                            <div class="card-image" style="background-image: url('{{ url('uploads/' ~ post.url) }}');">

                            </div>

                            <div class="card-content">
                                <div class="card-title">
                                    <h3>{{ post.title }}</h3>
                                </div>

                                <div class="card-infos">
                                    <div class="card-author">
                                        <div class="card-author-details">
                                            <span class="card-date date-from">{{ post.date }}</span>
                                        </div>
                                    </div>

                                    <div class="card-reactions">
                                        <div class="card-reaction">
                                            {{ post.questions }} questions
                                            {{ post.answers }} answers
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="section-title">
                <h2><b>Popular</b> pictures</h2>
            </div>

            <div class="section-grid">
                {% for post in latest_posts %}
                <div class="section-grid-item section-grid-item-4">
                    <a href="{{ url('picture-of-the-day/' ~ post.id) }}">
                        <div class="card">
                            <div class="card-image" style="background-image: url('{{ url('uploads/' ~ post.url) }}');">

                            </div>

                            <div class="card-content">
                                <div class="card-title">
                                    <h3>{{ post.title }}</h3>
                                </div>

                                <div class="card-infos">
                                    <div class="card-author">
                                        <div class="card-author-details">
                                            <span class="card-date date-from">{{ post.date }}</span>
                                        </div>
                                    </div>

                                    <div class="card-reactions">
                                        <div class="card-reaction">
                                            {{ post.questions }} questions
                                            {{ post.answers }} answers
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
