{% extends 'layouts/default.twig' %}

{% block content %}


    <div class="content">
        <div class="container">
            <div class="profile">
                <div class="col-md-4">
                    <div class="profile-presentation">
                        <div class="profile-picture" style="background-image: url({{ url('uploads/' ~ user.picture) }})">
                        </div>
                        <h1 class="profile-title">@{{ user.username }}</h1>
                        <p class="profile-description">{{ user.description }}</p>
                    </div>
                    <div class="profile-stats">
                        <ul class="stats">
                            <li><span class="number">{{ stats.questions }}</span> questions</li>
                            <li><span class="number">{{ stats.answers }}</span> answers</li>
                            <li><span class="number">{{ stats.likes }}</span> likes</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="profile-content">
                        <h2>Rewards</h2>

                        <div class="profile-rewards">
                            <div class="rewards">
                                <div class="reward {{ user.has_one == 1 ? 'active' : ''  }}">
                                    <img src="{{ asset('img/badges/curious_astronaut.png') }}" alt="Curious astronaut" class="reward-picture">
                                    <h4 class="reward-title">Curious astronaut</h4>
                                    <p class="reward-description">Ask 10 questions</p>
                                </div>

                                <div class="reward {{ user.has_two == 1 ? 'active' : ''  }}">
                                    <img src="{{ asset('img/badges/certified_astronaut.png') }}" alt="Curious astronaut" class="reward-picture">
                                    <h4 class="reward-title">Certified astronaut</h4>
                                    <p class="reward-description">Ask 20 questions</p>
                                </div>

                                <div class="reward {{ user.has_three == 1 ? 'active' : ''  }}">
                                    <img src="{{ asset('img/badges/little_camper.png') }}" alt="Curious astronaut" class="reward-picture">
                                    <h4 class="reward-title">Little camper</h4>
                                    <p class="reward-description">Answer 10 questions</p>
                                </div>

                                <div class="reward {{ user.has_four == 1 ? 'active' : ''  }}">
                                    <img src="{{ asset('img/badges/globetrotter.png') }}" alt="Curious astronaut" class="reward-picture">
                                    <h4 class="reward-title">Globetrotter</h4>
                                    <p class="reward-description">Answer 20 questions</p>
                                </div>

                                <div class="reward {{ user.has_five == 1 ? 'active' : ''  }}">
                                    <img src="{{ asset('img/badges/rocket_on_launch.png') }}" alt="Curious astronaut" class="reward-picture">
                                    <h4 class="reward-title">Rocket on launch</h4>
                                    <p class="reward-description">Get 10 upvotes</p>
                                </div>

                                <div class="reward {{ user.has_six == 1 ? 'active' : ''  }}">
                                    <img src="{{ asset('img/badges/highlighted_comet.png') }}" alt="Curious astronaut" class="reward-picture">
                                    <h4 class="reward-title">Highlighted comet</h4>
                                    <p class="reward-description">Get 20 upvotes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-content">
                        <h2>Questions</h2>
                        <div class="profile-questions">
                            {% for question in questions %}
                                <a href="{{ url('picture-of-the-day/' ~ question.post_id ~ '#' ~ question.id) }}">
                                    <div class="single-question" data-id="{{ question.id }}" id="{{ question.id }}" data-level="0">
                                        <div class="single-question-question">
                                            <h4>{{ question.content }}</h4>
                                        </div>

                                        <div class="single-question-infos">
                                            <div class="single-question-user">
                                                <div class="single-question-user-picture">
                                                    <img src="{{ url('uploads/' ~ question.picture) }}" alt="{{ question.username }}">
                                                </div>

                                                <div class="single-question-user-infos">
                                                    <p>{{ question.username }}</p>
                                                    <p class="date-from">{{ question.date }}</p>
                                                </div>
                                            </div>

                                            <div class="single-question-actions">
                                                <div class="profile-score"><img src="{{ asset('img/reactions/love.png') }}" alt="loves" class="profile-icon">{{ question.score }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="profile-content">
                        <h2>Answers</h2>
                        <div class="profile-answers">
                            {% for answer in answers %}
                                <a href="{{ url('picture-of-the-day/' ~ answer.post_id ~ '#' ~ answer.parent_id) }}">
                                    <div class="single-interactions single-interactions-profile">
                                        <div class="single-question" data-id="{{ answer.parent_id }}" id="{{ answer.parent_id }}" data-level="0">
                                            <div class="single-question-question">
                                                <h4>{{ answer.question_content }}</h4>
                                            </div>

                                            <div class="single-question-infos">
                                                <div class="single-question-user">
                                                    <div class="single-question-user-picture">
                                                        <img src="{{ url('uploads/' ~ answer.question_picture) }}" alt="{{ answer.question_username }}">
                                                    </div>

                                                    <div class="single-question-user-infos">
                                                        <p>{{ answer.question_username }}</p>
                                                        <p class="date-from">{{ answer.question_date }}</p>
                                                    </div>
                                                </div>

                                                <div class="single-question-actions">
                                                    <div class="profile-score"><img src="{{ asset('img/reactions/love.png') }}" alt="loves" class="profile-icon">{{ answer.question_score }}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single-question-answers" style="margin-left: 50px;">
                                            <div class="single-answer" data-id="{{ answer.id }}" id="{{ answer.id }}" data-level="1">
                                                <div class="single-answer-answer">
                                                    <p>{{ answer.content }}</p>
                                                </div>

                                                <div class="single-answer-infos">
                                                    <div class="single-answer-user">
                                                        <div class="single-answer-user-picture">
                                                            <img src="{{ url('uploads/' ~ answer.picture) }}" alt="{{ answer.username }}">
                                                        </div>

                                                        <div class="single-answer-user-infos">
                                                            <p>{{ answer.username }}</p>
                                                            <p class="date-from">{{ answer.date }}</p>
                                                        </div>
                                                    </div>

                                                    <div class="single-answer-actions">
                                                        {% if answer.score >= 0 %}
                                                            <div class="profile-score"><img src="{{ asset('img/reactions/upvote.png') }}" alt="loves" class="profile-icon">{{ answer.score }}</div>
                                                        {% else %}
                                                            <div class="profile-score"><img src="{{ asset('img/reactions/downvote.png') }}" alt="loves" class="profile-icon">{{ answer.score }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
