{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="single-zoom">
        <div class="single-zoom-background">
            <img src="{{ url('uploads/' ~ post.url_hd) }}" alt="{{ post.title }}">

            <span class="zoom-close">X</span>
        </div>
    </div>

    <div class="jumbotron single-jumbotron" style="background-image: url('{{ url('uploads/' ~ post.url_hd) }}');">
        <div class="jumbotron-actions">
            <ul>
                <li class="jumbotron-actions-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_encode(url('picture-of-the-day/' ~ post.id)) }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>

                <li class="jumbotron-actions-share">
                    <a href="http://twitter.com/share?url={{ url_encode(url('picture-of-the-day/' ~ post.id)) }}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="#" class="zoom-action">View image</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="single-introduction">
        <div class="single-introduction-container">
            <span class="subtitle date-formatted">{{ post.date }}</span>
            <h1 class="title">{{ post.title }}</h1>
            <p class="description">{{ post.description }}</p>

            <div class="single-introduction-ask">
                <div class="single-introduction-ask-title">
                    <h3>Got any question?</h3>
                </div>

                <div class="single-introduction-ask-form">
                    <form action="#" method="POST">
                        <div class="single-introduction-ask-group">
                            {% if picture %}
                                <img src="{{ url('uploads/' ~ picture) }}" alt="{{ auth }}" class="single-introduction-ask-picture">
                            {% else %}
                                <img src="{{ asset('img/default.png') }}" alt="Profile picture" class="single-introduction-ask-picture">
                            {% endif %}
                        </div>

                        <div class="single-introduction-ask-group">
                            <input type="text" name="question" id="question" value="" required class="form-control single-introduction-ask-input" placeholder="Where is Space exactly?">
                        </div>

                        <div class="single-introduction-ask-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if comments %}
        <div class="container">
            <div class="single-content">
                <div class="col-md-4">
                    <div class="single-navigation">
                        <div class="single-navigation-picture" style="background-image: url('{{ url('uploads/' ~ post.url_hd) }}');">

                        </div>

                        <div class="single-navigation-title">
                            <h3>{{ post.title }}</h3>
                        </div>

                        <div class="single-navigation-buttons">
                            <a href="#" class="single-navigation-button">Previous</a>
                            <a href="#" class="single-navigation-button">Next</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="single-interactions">
                        {% for comment in comments %}
                            {% set i = 0 %}
                            {% include 'components/questions.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="container">
        <h2>Medias</h2>

        <div class="row">
            {% if medias %}
                {% for media in medias %}
                    <div class="col-md-3">
                        <img src="{{ url('uploads/' ~ media.media) }}" alt="">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="media">Add linked pictures</label>
                <input type="file" name="media" id="media" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Send picture</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{{ asset('js/single_post.min.js') }}"></script>
    <script src="{{ asset('js/posts_actions.min.js') }}"></script>
{% endblock %}
